In [3]:
import pandas as pd 
import numpy as np 
data={
    "height":[150,160,165,170,175,180,185,190],
    "weight":[50,55,60,65,70,75,80,85]
}
df=pd.DataFrame(data)
print(df)

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70
5     180      75
6     185      80
7     190      85

In [7]:
df.head()

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70

***karl pearson***

In [5]:
correlation=df["height"].corr(df["weight"])
print(correlation)

0.9941348467724345

***charles spearson******spearman rank***

In [11]:
correlation2=df["height"].corr(df["weight"],method="spearman")
print(correlation2)

1.0

***manualy spearman rank***

In [16]:
df["rank"]=df["height"].rank()
print(df)

   height  weight  rank
0     150      50   1.0
1     160      55   2.0
2     165      60   3.0
3     170      65   4.0
4     175      70   5.0
5     180      75   6.0
6     185      80   7.0
7     190      85   8.0

In [24]:
df["rank2"]=df["weight"].rank()
print(df)

   height  weight  rank  rank2
0     150      50   1.0    1.0
1     160      55   2.0    2.0
2     165      60   3.0    3.0
3     170      65   4.0    4.0
4     175      70   5.0    5.0
5     180      75   6.0    6.0
6     185      80   7.0    7.0
7     190      85   8.0    8.0

In [55]:
n=len(df)
print(n)

8

In [57]:
df["D"]=df["rank"]-df["rank2"]
print(df)

   height  weight  rank  rank2    d    D  D^2
0     150      50   1.0    1.0  0.0  0.0  0.0
1     160      55   2.0    2.0  0.0  0.0  0.0
2     165      60   3.0    3.0  0.0  0.0  0.0
3     170      65   4.0    4.0  0.0  0.0  0.0
4     175      70   5.0    5.0  0.0  0.0  0.0
5     180      75   6.0    6.0  0.0  0.0  0.0
6     185      80   7.0    7.0  0.0  0.0  0.0
7     190      85   8.0    8.0  0.0  0.0  0.0

In [59]:
df["D^2"]=df["D"]**2
print(df)

   height  weight  rank  rank2    d    D  D^2
0     150      50   1.0    1.0  0.0  0.0  0.0
1     160      55   2.0    2.0  0.0  0.0  0.0
2     165      60   3.0    3.0  0.0  0.0  0.0
3     170      65   4.0    4.0  0.0  0.0  0.0
4     175      70   5.0    5.0  0.0  0.0  0.0
5     180      75   6.0    6.0  0.0  0.0  0.0
6     185      80   7.0    7.0  0.0  0.0  0.0
7     190      85   8.0    8.0  0.0  0.0  0.0

In [66]:
sum=df["D^2"].sum()
print(sum)

0.0

In [72]:
correlation_sp=1-((6*sum)/((n**3)-n))
print(correlation_sp)

1.0