In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('Fortune500.csv')

In [2]:
df

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [3]:
#for first five rows
df.head()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563

In [4]:
#for last five rows
df.tail()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [5]:
#to find the rows and column of a data
df.shape

(500, 13)

In [6]:
#information about the colums
#very important before working on dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

In [7]:
                                               ##creating a sub dataset##
sub_df=df[["Rank","Title","Employees","Sector","Revenues","Profits"]]

In [8]:
sub_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       500 non-null    int64
 1   Title      500 non-null    object
 2   Employees  500 non-null    int64
 3   Sector     500 non-null    object
 4   Revenues   500 non-null    int64
 5   Profits    500 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 23.6+ KB

In [9]:
sub_df.head(10)

,Rank,Title,Employees,Sector,Revenues,Profits
0,1,Walmart,2300000,Retailing,485873,13643.0
1,2,Berkshire Hathaway,367700,Financials,223604,24074.0
2,3,Apple,116000,Technology,215639,45687.0
3,4,Exxon Mobil,72700,Energy,205004,7840.0
4,5,McKesson,68000,Wholesalers,192487,2258.0
5,6,UnitedHealth Group,230000,Health Care,184840,7017.0
6,7,CVS Health,204000,Health Care,177526,5317.0
7,8,General Motors,225000,Motor Vehicles & Parts,166380,9427.0
8,9,AT&T,268540,Telecommunications,163786,12976.0
9,10,Ford Motor,201000,Motor Vehicles & Parts,151800,4596.0

In [10]:
sub_df.describe()

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [11]:
                                     #extracting particular column description
mean_rev=sub_df["Revenues"].mean()
print(mean_rev)

24111.748

In [12]:
median_rev=sub_df["Revenues"].median()
print(median_rev)

11384.0

In [13]:
mode_rev=sub_df["Revenues"].mode()
print(mode_rev)

0    9061
Name: Revenues, dtype: int64

In [14]:
min_rev=sub_df["Revenues"].min()
print(min_rev)

5145

In [15]:
max_rev=sub_df["Revenues"].max()
print(max_rev)

485873

In [16]:
range=max_rev-min_rev
print(range)

480728

In [17]:
sub_df["Revenues"].max()-sub_df["Revenues"].min()

480728

In [40]:
##standard deviation
sd=sub_df["Revenues"].std()
print(sd)

38337.35333653324

In [46]:
#variance
var=sub_df["Revenues"].var()
print(var)

1469752660.8501961

In [50]:
##Quartile
q1=sub_df["Revenues"].quantile(0.25)
q1

7245.0

**iqr=q3-q1**

In [56]:
iqr=sub_df["Revenues"].quantile(0.75)-sub_df["Revenues"].quantile(0.25)
iqr

15360.25

** chexk skwness **

In [58]:
skew=sub_df["Revenues"].skew()
skew

5.480066970305041

In [62]:
cv=(sd/mean_rev)*100
cv

158.99864803055027

In [70]:
cv_profit=(sub_df["Profits"].std()/sub_df["Profits"].mean())*100
print("the cv of profit is:",cv_profit)

the cv of profit is: 221.2758313353473

** random and sample rows printing**

In [78]:
sub_df.sample(10)

,Rank,Title,Employees,Sector,Revenues,Profits
293,294,Air Products & Chemicals,18450,Chemicals,9524,631.1
459,460,Markel,10900,Financials,5612,455.7
11,12,Amazon.com,341400,Technology,135987,2371.0
246,247,Core-Mark Holding,7688,Wholesalers,11507,54.2
71,72,Best Buy,125000,Retailing,39403,1228.0
264,265,Applied Materials,16150,Technology,10825,1721.0
215,216,Kellogg,37369,"Food, Beverages & Tobacco",13014,694.0
378,379,Computer Sciences,59000,Technology,7106,251.0
359,360,EMCOR Group,31000,Engineering & Construction,7552,181.9
248,249,Las Vegas Sands,49000,"Hotels, Restaurants & Leisure",11410,1670.0

In [84]:
sub_df.sample(frac = 0.01)

     Rank                   Title  Employees       Sector  Revenues  Profits
163   164                  Paccar      23000  Industrials     17033    521.7
273   274           HollyFrontier       2676       Energy     10536   -260.5
390   391      Jones Lang LaSalle      77300   Financials      6804    318.2
170   171  Performance Food Group      13000  Wholesalers     16105     68.3
340   341            Weyerhaeuser      10400    Materials      7902   1027.0

In [90]:
sample_df=sub_df.sample(frac = 0.70)
sam_mean=sample_df["Revenues"].mean()
print(sam_mean)

23609.96285714286

In [94]:
sample_df=sub_df.sample(frac = 0.70,random_state=0)
sam_mean1=sample_df["Revenues"].mean()
print(sam_mean1)

24044.977142857144

In [96]:
sample_df=sub_df.sample(frac = 0.70,random_state=0)
sam_mean2=sample_df["Revenues"].mean()
print(sam_mean2)

24044.977142857144